@import "../variables";

.game-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;

  .level-screen-tag-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  .level-screen-players {
    display: flex;
    width: 100%;
    height: 100%;
    .players-add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
    p {
      color: var(color-light-second);
    }
  }
}
