@import "../variables";

.main-button-container {
  height: 50px;
  width: 100%;
  background-color: var(--color-base);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: var(--font-base);
  color: var(--color-dark);
  text-decoration: none;

  &:hover,
  &:active {
    cursor: pointer;
  }
}
