@import "../variables";

.main-button-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: var(--font-base);
  color: var(--color-dark);
  text-decoration: none;
  border: 2px solid var(--color-base);
  color: white;

  &[fully] {
    background-color: var(--color-base);
    color: var(--color-dark);
    border: none;
  }

  &:hover,
  &:active {
    cursor: pointer;
    background-color: var(--color-base-hover);
  }
}
