:root {
  --color-dark: #202227;
  --color-light: #25272e;
  --color-light-hover: #42434c;
  --color-base: #ebcf4e;
  --color-base-hover: #fde57c;
  --color-white: white;
  --color-light-second: #b3b3b3;

  --font-small: 0.8rem;
  --font-base: 1.3rem;
  --font-big: 3rem;
  --font-huge: 3.5rem;

  --gap-small: 4px;
  --gap-standard: 8px;
  --gap-big: 12px;
  --gap-huge: 16px;

  --round-small: 4px;
  --round-base: 8px;
  --round-big: 16px;
}

.icon-base {
  fill: var(--color-base);
  font-size: 1.5rem;

  &:hover {
    fill: var(--color-base-hover);
    cursor: pointer;
  }
}

.icon-small {
  font-size: 1rem;
}

.icon-big {
  font-size: 1.7rem;
}
