@import "./variables";

.main-container {
  background-color: $color-dark;
  padding: 16px 16px 32px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.small-icon {
  fill: white;

  &:hover,
  &:active {
    cursor: pointer;
  }
}
